[flake8]
max-line-length = 100
ignore = W291,W292,W503,W504
exclude = venv,env,.git,__pycache__

# Default target directories
# (Can also be specified in flake8 command, but documented here as well)
# src/
# tests/ 